/*-- scss:defaults --*/
$font-family-sans-serif: Arial, "DejaVu Sans", sans-serif;
$presentation-heading-font: $font-family-sans-serif;
$body-color: #000;
$presentation-heading-color: $body-color;
$presentation-heading-text-shadow: none;
$presentation-heading-text-transform: none;
$body-bg: #fff;
$link-color: #00008b;
$selection-bg: rgba(0, 0, 0, 0.99);
$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;
$dark-bg-text-color: #fff;
